nav {
  margin-top: 20px;
  padding: 26px;
  text-align: center;
  font-family: sans-serif;
  box-shadow: 5px 5px 5px #4A148C;

}
#navbar {
  background: #33333D;
  opacity: 0.9;
  border-radius: 5px;
}
.navbar {
  transition: 0.4s;
  color: #8445D1;
  font-size: 20px;
  text-decoration: none;
  padding: 0 10px;
  margin: 0 4px;
  margin-bottom: 140px;
  border-radius: 5px;

}
.navbar:hover {
  background-color: #fff;
  color: #4A148C;
  padding: 24px 10px;
}